Hello {{ name1 }}, Welcome {{ surname1 }}
Hello {{ name2 }}, Welcome {{ surname2 }}
Hello {{ name3 }}, Welcome {{ surname3 }}

Hello {{ name1 }}, Welcome {{ surname1 }}
Hello {{ name2 }}, Welcome {{ surname2 }}
Hello {{ name3 }}, Welcome {{ surname3 }}

You school is starting now {{ name1 }} {{ surname1 }}
You school is starting now {{ name2 }} {{ surname2 }}
You school is starting now {{ name3 }} {{ surname3 }}

You school is starting now {{ name1 }} {{ surname1 }}
You school is starting now {{ name2 }} {{ surname2 }}
You school is starting now {{ name3 }} {{ surname3 }}

Hello {{ name1 }}, Welcome {{ surname1 }}
Hello {{ name2 }}, Welcome {{ surname2 }}
Hello {{ name3 }}, Welcome {{ surname3 }}

Hello {{ name1 }}, Welcome {{ surname1 }}
Hello {{ name2 }}, Welcome {{ surname2 }}
Hello {{ name3 }}, Welcome {{ surname3 }}

You school is starting now {{ name1 }} {{ surname1 }}
You school is starting now {{ name2 }} {{ surname2 }}
You school is starting now {{ name3 }} {{ surname3 }}

You school is starting now {{ name1 }} {{ surname1 }}
You school is starting now {{ name2 }} {{ surname2 }}
You school is starting now {{ name3 }} {{ surname3 }}

Hello {{ name1 }}, Welcome {{ surname1 }}
Hello {{ name2 }}, Welcome {{ surname2 }}
Hello {{ name3 }}, Welcome {{ surname3 }}

Hello {{ name1 }}, Welcome {{ surname1 }}
Hello {{ name2 }}, Welcome {{ surname2 }}
Hello {{ name3 }}, Welcome {{ surname3 }}

You school is starting now {{ name1 }} {{ surname1 }}
You school is starting now {{ name2 }} {{ surname2 }}
You school is starting now {{ name3 }} {{ surname3 }}

You school is starting now {{ name1 }} {{ surname1 }}
You school is starting now {{ name2 }} {{ surname2 }}
You school is starting now {{ name3 }} {{ surname3 }}

Hello {{ name1 }}, Welcome {{ surname1 }}
Hello {{ name2 }}, Welcome {{ surname2 }}
Hello {{ name3 }}, Welcome {{ surname3 }}

Hello {{ name1 }}, Welcome {{ surname1 }}
Hello {{ name2 }}, Welcome {{ surname2 }}
Hello {{ name3 }}, Welcome {{ surname3 }}

You school is starting now {{ name1 }} {{ surname1 }}
You school is starting now {{ name2 }} {{ surname2 }}
You school is starting now {{ name3 }} {{ surname3 }}

You school is starting now {{ name1 }} {{ surname1 }}
You school is starting now {{ name2 }} {{ surname2 }}
You school is starting now {{ name3 }} {{ surname3 }}